<md-sidenav-container>
  <md-sidenav #sidenav mode="over" opened="false">
    <nav fxLayout="column" fxLayoutAlign="start stretch">
      <ul>
        <li (click)="navigateTo('/module')">Modules</li>
        <li (click)="navigateTo('/component')">Components</li>
      </ul>
    </nav>
  </md-sidenav>

  <header fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1>{{ 'Angular examples' | uppercase }}</h1>
      <button md-mini-fab (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</md-sidenav-container>