<md-sidenav-container>
  <md-sidenav #sidenav mode="over" opened="false">
    <nav fxLayout="column" fxLayoutAlign="start stretch">
      <ul>
        <li routerLink="/module" routerLinkActive="active" (click)="sidenav.toggle()">Modules</li>
        <li routerLink="/component" routerLinkActive="active" (click)="sidenav.toggle()">Components</li>
      </ul>
    </nav>
  </md-sidenav>

  <header fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1>{{ 'Angular examples' | uppercase }}</h1>
      <button md-mini-fab (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    </div>
  </header>
  <main fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="10"></div>
    <div fxFlex="80">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="10"></div>
  </main>
</md-sidenav-container>